<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="index.js"></script>
</head>
<body>
    <h2>The Total Number of User Are: <%= count %></h2>
    <button>Join Us Today</button>
</body>
</html>